@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="https://learn.microsoft.com/en-us/entra/workload-id/workload-identity-federation">Welcome to Vanilla dotnet6 web app for Azure Workload Federation Auth for GitHub Actions </a>.</p>
</div>
